{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Bonjour, vous êtes déjà connecté en tant que :{{ app.user.userIdentifier }},
            <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connexion :</h1>

    <form method="post">

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label">Email :</label>
            </div>
            <div class="col-auto">
                <input type="email"
                       value="{{ last_username }}"
                       name="email"
                       id="inputEmail"
                       class="form-control"
                       autocomplete="email"
                       required autofocus>
            </div>

            <div class="col-auto">
                <label class="col-form-label">Mot de passe :</label>
            </div>

            <div class="col-auto">
                <input type="password"
                       id="inputPassword6"
                       class="form-control"
                       aria-describedby="passwordHelpInline"
                       required>
            </div>
        </div>

        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="btn btn-primary" name="connexion">Se connecter</button>
            </div>
        </div>



    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>#}
    }

</form>
{% endblock %}