{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Page d'inscription :</h1>

    {{ form_start(registrationForm) }}

    <div>
        <label>Votre nom :</label>
        {{ form_widget(registrationForm.nom) }}
        {{ form_errors(registrationForm.nom) }}
    </div>

    <div>
        <label>Votre email :</label>
        {{ form_widget(registrationForm.email) }}
        {{ form_errors(registrationForm.email) }}
    </div>

    <div>
        <label>Votre mot de passe :</label>
        {{ form_widget(registrationForm.password) }}
        {{ form_errors(registrationForm.password) }}
    </div>

    {# Render CSRF token etc .#}
    <div style="display:none">
        {{ form_rest(registrationForm) }}
    </div>

    <div>
    <button class="btn btn-lg btn-primary" type="submit" >Envoyer</button>
    </div>

    {{ form_end(registrationForm) }}
{% endblock %}
