{% extends 'base.html.twig' %}

{% block title %}
Afficher une sortie
{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Afficher une sortie</h1>

{{ form_start(afficherSortieForm) }}


<div class="row">
    <div class="col-6">


        <label>Nom de la sortie :</label>
        {{ form_row(afficherSortieForm.nom) }}
        <br>

        <label>Date et heure de la sortie :</label>
        {{ form_widget(afficherSortieForm.dateHeureDebut) }}
        {{ form_errors(afficherSortieForm.dateHeureDebut) }}

        <label>Date limite d'inscription :</label>
        {{ form_widget(afficherSortieForm.dateLimiteInscription) }}
        {{ form_errors(afficherSortieForm.dateLimiteInscription) }}

        <label>Nombre de places :</label>
        {{ form_widget(afficherSortieForm.nbInscriptionsMax) }}
        {{ form_errors(afficherSortieForm.nbInscriptionsMax) }}
        <br>
        <label>Durée :</label>
        {{ form_widget(afficherSortieForm.duree) }}
        {{ form_errors(afficherSortieForm.duree) }}
        <label>minutes</label>
        <br>
        <label>Description et infos :</label>
        {{ form_widget(afficherSortieForm.infosSortie) }}
        {{ form_errors(afficherSortieForm.infosSortie) }}
        <br>





    </div>
</div>

    <div class="col-6">

        <label>Campus :</label>
        {{ form_widget(afficherSortieForm.siteOrganisateur) }}
        {{ form_errors(afficherSortieForm.siteOrganisateur) }}

    </div>

    {{ form_end(afficherSortieForm) }}


    {% endblock %}



