{% extends 'base.html.twig' %}

{% block title %}
    Creer une nouvelle sortie | {{ parent() }}
{% endblock %}

{% block body %}

    <h1 class="text-center">Créer une sortie</h1>

        {{ form_start(sortie1Form) }}
        <div class="row">

            <div class="col-6">
                <div>{{ form_row(sortie1Form.nom, {'attr': {'class' :'form-control' }}) }}</div>

                <div>{{ form_row(sortie1Form.dateHeureDebut, {'attr': {'class' :'form-control' }}) }}</div><br><br>

                <div>{{ form_row(sortie1Form.dateLimiteInscription, {'attr': {'class' :'form-control' }}) }}</div>
            </div>

            <div class="col-6">

                <div>{{ form_row(sortie1Form.nbInscriptionsMax, {'attr': {'class' :'form-control' }}) }}</div>

                <div>{{ form_row(sortie1Form.duree, {'attr': {'class' :'form-control' }}) }}</div>
            </div>
        </div>






        {{ form_widget(sortie1Form) }}
        <div class="text-center">
            <button type="submit" class="btn btn-success mt-2 mb-5 ">Enregistrer</button>
            <button class="btn btn-success mt-2 mb-5 ">Publier la sortie</button>
            <button type="reset" class="btn btn-default mt-2 mb-5">Annuler</button>
        </div>
    {{ form_end(sortie1Form) }}


{% endblock %}