{% extends 'base.html.twig' %}

{% block title %}
    Modifier une sortie
{% endblock %}

{% block body %}

<h1 class="h3 mb-3 font-weight-normal">Modifier une sortie</h1>

    {{ form_start(updateSortieForm) }}


    <div class="row">
        <div class="col-6">



            <label>Nom de la sortie :</label>
            {{ form_widget(updateSortieForm.nom) }}
            {{ form_errors(updateSortieForm.nom) }}
            <br>

           <label>Date et heure de la sortie :</label>
            {{ form_widget(updateSortieForm.dateHeureDebut) }}
            {{ form_errors(updateSortieForm.dateHeureDebut) }}

            <label>Date limite d'inscription :</label>
            {{ form_widget(updateSortieForm.dateLimiteInscription) }}
            {{ form_errors(updateSortieForm.dateLimiteInscription) }}

            <label>Nombre de places :</label>
            {{ form_widget(updateSortieForm.nbInscriptionsMax) }}
            {{ form_errors(updateSortieForm.nbInscriptionsMax) }}
            <br>
            <label>Durée :</label>
            {{ form_widget(updateSortieForm.duree) }}
            {{ form_errors(updateSortieForm.duree) }}
            <label>minutes</label>

            <br>

                <label for="description">Description et infos :</label>
                <textarea name="description" rows="8" cols="41" class="form-control"></textarea>




        </div>

        <div class="col-6">

            <label>Campus :</label>
            {{ form_widget(updateSortieForm.siteOrganisateur) }}
            {{ form_errors(updateSortieForm.siteOrganisateur) }}

            <label>Lieu :</label>
            {{ form_widget(updateSortieForm.lieuSortie) }}
            {{ form_errors(updateSortieForm.lieuSortie) }}

        </div>

    <div class="row">
        <div class="col">
            <br>
            <button type="submit" class="btn btn-success" name="maj">Enregistrer</button>
        </div>
        <div class="col">
            <br>
            <button type="submit" class="btn btn-success" name="maj">Publier la sortie</button>
        </div>
        <div class="col">
            <br>
            <button type="reset" class="btn btn-success" name="maj">Supprimer la sortie</button>
        </div>
        <div class="col"></div>
        <div class="col">
            <br>
            <button type="reset" class="btn btn-danger" name="reset">Annuler</button>
        </div>
    </div>

    {{ form_end(updateSortieForm) }}


{% endblock %}