{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="h3 mb-3 font-weight-normal">Mon profil :</h1>

{#
    {% if app.user %}
#}
{{ form_start(updateProfil) }}

<div class="container">
    <div class="row">
        <div class="col-4 align-self-center">
            PHOTO DE PROFIL
        </div>
        <div class="col align-self-center">
                <div>
                    <br>
                    <h1 class="h3 mb-3 font-weight-normal">Bonjour {# {{ app.user.firstname }} #}</h1>
                </div>

            <div>
                {{ form_row(updateProfil.pseudo) }}
            </div>

                <div>
                    {{ form_row(updateProfil.prenom) }}
                </div>

                <div>
                    {{ form_row(updateProfil.nom) }}
                </div>

                <div>
                    {{ form_row(updateProfil.telephone) }}
                </div>

                <div> {# email #}
                    {{ form_row(updateProfil.email) }}
                </div>

                <div> {# Mot de passe #}
                    {{ form_row(updateProfil.motDePasse) }}
                </div>


                <div>
                    {{ form_row(updateProfil.campusRattache) }}
                </div>

                <div>
                    <label>Ma photo :</label>
                    {{ form_row(updateProfil.photo) }}
                </div>

    {{ form_rest(updateProfil) }}

                <div class="row">
                    <div class="col">
                <button type="submit" class="btn btn-success" name="maj">Mettre à jour</button>
                    </div>
                <div class="col"></div>
                    <div class="col">
                    <button type="reset" class="btn btn-danger" name="reset">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
</div>


{{ form_end(updateProfil) }}
{#
{% endif %}
    <div class="container">
        <div class="d-flex">
            <div class="p-2">
                <h1 class="d-flex justify-content-center
                h3 mb-3
                font-weight-normal">Vous n'êtes pas autorisez à vous rendre ici.</h1>
            </div>
        </div>
    </div>
#}

{% endblock %}